/Project/Library
/Project/Logs
/Project/Temp
/Project/UserSettings
/Project/.vsconfig
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp-Editor.csproj
/Project/Project.sln
/Project/.vs
/Project/Assets/StreamingAssets/Terrian
/Project/Assets/StreamingAssets
/Project/obj
